:root {
    --bg-color: #fff;
    --inverted-bg-color: #2464e1;
    --primary-color: #166002;
    --secondary-color: #4ce500;
    --inverted-primary-color: #3a58de;
    --inverted-secondary--color: #5c73c9;
}